node_modules
out
.shadow-cljs
.nrepl-port
.clj-kondo/.cache
yarn-error.log
report.html
.lsp/.cache
.calva/output-window
target/uberjar/classes
target/uberjar/stale
target/uberjar/testapp-0.1.0-SNAPSHOT.jar
.calva/
.calva/output-window/output.calva-repl
.lsp/.cache/db.transit.json
.clj-kondo/com.github.seancorfield/next.jdbc/config.edn
.clj-kondo/com.github.seancorfield/next.jdbc/hooks/com/github/seancorfield/next_jdbc.clj
.lein-docker-env
.lein-failures
