{:server {:host "127.0.0.1"
          :port 4000
          :join? false}

 :db {:classname "org.postgresql.Driver"
      :subprotocol "postgresql"
      :host "db"
      :port 5432
      :dbname "database"
      :dbtype "postgresql"
      :user "user"
      :password "password"}

 :migratus {:store :database
            :migration-dir "src/db/migrations/"
            :init-script "init.sql"
            :init-in-transaction? false
            :migration-table-name "spa.migrations"
            :db {:host "db"
                 :port 5432
                 :dbname "database"
                 :dbtype "postgresql"
                 :user "user"
                 :password "password"}}
 
 :pool {:minimum-idle 10
        :maximum-pool-size 10
        :adapter "postgresql"
        :database-name "database"
        :username "user"
        :password "password"
        :server-name "db"
        :port-number 5432}}