apiVersion: v1
kind: Service
metadata:
  name: db
  labels:
    name: db-service
    app: clojure-spa-app
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    name: db-pod
    app: clojure-spa-app