/* = reset ================================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: monospace;
	vertical-align: baseline;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
}

.menu {
  background-color: #233142;
  color: #ebf7fd;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 110px;
}

.menu-flex {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  height: 95vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}

.menu-buttons {
  padding-top: 100px;
}

.menu-btn {
  background: none;
  border: none;
  color: #ebf7fd82;
  font-size: 1.1rem;
  height: 50px;
  padding: .45rem .6rem;
  transition: all .2s ease;
  width: 100%;
  text-align: left;
  transition: all .2s linear;
}

.menu-btn.active {
  color: #ebf7fd;
  cursor: pointer;
}

.menu-btn.hidden {
  display: none;
}

.menu-btn.active:hover {
  color: #f6fcfe;
  font-size: 1.2rem;
}

.content {
  margin-left: 110px;
  width: 100%;
  position: relative;
}

header {
  background-color: #fff;
  padding: 1vw;
  position: sticky;
  text-align: center;
  top: 0;
  max-height: 100px;
}

.logo {
  width: 25vw;
  min-width: 100px;
  max-width: 300px;
}

.img__bottom {
  margin-bottom: .1rem;
  max-height: 50px;
}

/* patients */

.patients {
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 50px;
  max-width: 800px;
}

.patient {
  background-color: #ebf7fd;
  border-bottom: 1px solid #36506c;
  border-left: 2px solid #36506c;
  border-right: 2px solid #36506c;
  color: #111821;
}

.patient-main {
  cursor: pointer;
  display: grid;
  grid-template-columns: 10% 40% 25% 23% 2%;
  padding: 15px;
  transition: all .2s linear;
}

.patient-main.active {
  background-color: #47698e;
  color: #ebf7fd;
}

.patient-main.active .open-hidden {
  rotate: (180 deg);
}

.panel {
  background-color: #f8fcfe;
  color: #111821;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel-grid {
  display: grid;
  grid-template-columns: 10% 20% 70%;
  padding: 15px;
}

.free-column {
  grid-row-start: 1;
  grid-row-end: 4;
}

.patient:first-child {
  border-top: 2px solid #36506c;
}

.patient:last-child {
  border-bottom: 2px solid #36506c;
}

.open-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.patient-main:hover {
  background-color: #47698e;
  color: #ebf7fd;
}

.patient-main:hover .open-hidden {
  visibility: visible;
}

/* pages */

.pages {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Courier New', Courier, monospace;
  height: 50px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-bottom: 1rem;
}

.page-btn {
  background: none;
  border: none;
  color: #47698e65;
  font-size: 1.2rem;
  height: 50px;
  padding: .45rem .6rem;
  vertical-align: center;
  transition: all .2s ease;
  width: 100px;
}

.page-btn.active {
  color: #47698e;
  cursor: pointer;
}

.page-btn.active:hover {
  font-size: 1.4rem;
}

.p-number {
  color: #47698e;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .45rem .6rem;
}

/* patient-editor */

.patient-window__underlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #23314284;
  display: none;
}

.patient-window__underlay.active {
  display: flex;
}

@keyframes patient-window-appear {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

.patient-window {
  background-color: #e7f6fd;
  border-radius: 3px;
  bottom: 0;
  box-shadow: 0 0px 20px 6px rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  max-width: 500px;
  margin: auto;
  max-height: 600px;
  padding: 3px;

  animation-name: patient-window-appear;
  animation-duration: 0.5s;
}

.patient-window:hover {
  background-color: #ebf7fd;
  border: 2px solid #36506c;
  border-radius: 5px;
}

.patient-window__body {
  display: flex;
  flex-direction: column;
  color: #111821;
  padding: .4rem;
  height: 80%;
  min-height: 300px;
}

.patient-window__status {
  color: #354a63;
  font-family: 'Arial';
  font-size: 1.4rem;
  align-self: center;
  padding: 0.4rem;
}

.patient-window__footer {
  padding: .4rem;
  height: 10%;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.window-btn {
  background: none;
  border: none;
  color: #47698e65;
  font-size: 1.2rem;
  height: 50px;
  padding: .45rem .6rem;
  vertical-align: center;
  transition: all .2s ease;
  width: 150px;
  cursor: pointer;
}

.window-btn:hover {
  font-size: 1.4rem;
}

/* form */

.form {
  font-family: 'Arial';
  display: flex;
  flex-direction: column;
  color: #354a63;
  padding: 0.4rem;
}

.form__label {
  padding: 0.2rem 0;
}

.form__input {
  font-family: 'Courier New', Courier, monospace;
  padding: 0.4rem;
  border-radius: 3px;
  border: 2px solid #354a63;
}

/* delete */

.patient-delete {
  background-color: #e7f6fd;
  border-radius: 3px;
  bottom: 0;
  box-shadow: 0 0px 20px 6px rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  max-width: 300px;
  margin: auto;
  max-height: 200px;
  padding: 3px;

  animation-name: patient-window-appear;
  animation-duration: 0.5s;
}

.patient-delete:hover {
  background-color: #ebf7fd;
  border: 2px solid #36506c;
  border-radius: 5px;
}

.patient-delete__body {
  color: #354a63;
  font-family: 'Arial';
  font-size: 1.2rem;
  align-self: center;
  padding: 2rem;
  text-align: center;
}

/* alert */

@keyframes alert-appear {
  0%   {left:-100px; opacity: 0;}
  100% {left:0px; opacity:0.7;}
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  display: none;
  position: absolute;
  opacity: 0.7;
}

.alert.active {
  display: flex;
  animation-name: alert-appear;
  animation-duration: 1s;
}

.closebtn {
  font-family: 'Arial';
  margin-left: 15px;
  color: white;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}